<!DOCTYPE html>
<html>
<head>
	<title>contact</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
</head>
<body>
<div class="container">
	<div class="back">
		<a href="./index.html"><span>阿亮的个人网站</span>&nbsp;&nbsp;&nbsp;&nbsp;<img src="../img/contact_arrow.png"></a>
	</div>
	<div class="main">
		<h3>Contact Information</h3>
		<div class="inner">
			<p>It was my pleasure if you drop me a line.</p>
			<div class="frame">
				<div><img src="../img/contact_mail.png">benaliang88@gmail.com</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="inner">
			<p>最后修改时间：2017-11-24 21:44:35</p>
		</div>
	</div>
	<div class="contact"><span><a href="./index.html">contact me</a>|www.aliangben.com</span></div>
</div>
</body>
</html>