<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>aliang-web</title>
	<link rel="stylesheet" type="text/css" href="../css/life.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
	<section class="sec1 sec"></section>
	<section class="sec2 sec">
		<p>A little atmosphere</p>
	</section>
	<section class="sec3 sec">
		<p>so hot</p>
	</section>
	<section class="sec4 sec">
		<p>More passion</p>
	</section>
	<section class="sec5 sec">
		<p>Touch one's face</p>
	</section>
	<section class="sec6 sec">
		<p>Take a break</p>
	</section>
	<section class="sec7 sec">
		<p>who care</p>
	</section>
</body>
</html>