<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>aliang-web</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<nav class="nav-header">
		<a href="./index.html" class="navItem">Home</a>
		<a href="./scenery.html" class="navItem active">Scenery</a>
		<a href="./skill.html" class="navItem">Skill</a>
		<a href="./life.html" class="navItem">Life</a>
		<a href="./contact.html" class="navLast">Contact</a>
	</nav>
	<header class="header">
		<span>Welcome to aliang's website.</span>
	</header>
	<article class="article">
		<h3>喧嚣中的宁静</h3>
		<span>城市人来人往，慷慨夜光，好像只有在夜晚来临之时，才能放下戒备与疲累，看流动的车辆谱写的光谱，不免是种治愈；享受不了日光催发万物的呼吸吐纳，只能感受日影隐没之后夜的微风。</span>
	</article>
	<div class="photoWall">
		<div class="group">
			<img src="../img/main_photoWall1.jpg">
			<img src="../img/main_photoWall2.jpg">
			<img src="../img/main_photoWall3.jpg">
		</div>
		<div class="group">
			<img src="../img/main_photoWall4.jpg">
			<img src="../img/main_photoWall5.jpg">
			<img src="../img/main_photoWall6.jpg">
		</div>
		<div class="group">
			<img src="../img/main_photoWall7.jpg">
			<img src="../img/main_photoWall8.jpg">
			<img src="../img/main_photoWall9.jpg">
		</div>
		<div class="group">
			<img src="../img/main_photoWall10.jpg">
			<img src="../img/main_photoWall11.jpg">
			<img src="../img/main_photoWall12.jpg">
		</div>
		<div class="group">
			<img src="../img/main_photoWall13.jpg">
			<img src="../img/main_photoWall14.jpg">
			<img src="../img/main_photoWall15.jpg">
		</div>
		<div class="group">
			<img src="../img/main_photoWall16.jpg">
			<img src="../img/main_photoWall17.jpg">
			<img src="../img/main_photoWall18.jpg">
		</div>
	</div>
	<article class="article last">
		<h3>旅行的意义</h3>
		<span>我相信旅行中所体验到的那些美丽、痛苦、灿烂、哀伤……，都将烙印在我们体内。的确，我们很健忘，但我还挺感谢老天创造人的时候，没有给我们过目不忘的记忆。因为，每一次「想起」的瞬间：哪怕只是一个味道、一个转身、一个背影、一个声响，那些排山倒海而来的每个一画面，都在不断提醒我们，活着真好。</span>
	</article>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
		})
	</script>
</body>
</html>